<h1>Login</h1>

<form action="logout" method="post">
    <input type="text" name="user_log" placeholder="Enter Username">
    <input type="text" name="pass_log" placeholder="Enter Password">
    <input type="submit" name="validate_user" value="Login">
</form>

<%= flash[:alert] %>
