<h1>Register Here!</h1>

<form action="/login" method="post">
    <input type="text" name="full_name" placeholder="Full Name">
    <input type="text" name="street" placeholder="Street Address">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="state" placeholder="State">
    <input type="text" name="postal" placeholder="Postal Code">
    <input type="text" name="country" placeholder="Country">
    <input type="text" name="email" placeholder="Email Address">
    <input type="text" name="user_name" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <input type="submit" name="register" value="Register!">
</form>
